#wrapper {
  margin:auto;
  width:1440px;
}
input {
  width:50px;
}
svg {
  border:1px solid gray;
  border-radius:10px;
  height:600px;
  width:600px;
  margin:5px;
}
#linechart {
  width:800px;
}

html {
  font-family: 'Trebuchet MS', sans-serif;
}

.countrymap {
  stroke: black;
  stroke-width: 1px;
}

.countrymap_hover {
  stroke: cyan;
  stroke-width: 4px;
}


h2, h3 {
  text-align:center;
}

div.tooltip-map {
  position: absolute;
  text-align: left;
  padding: .5rem;
  background: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1.3rem;
}

/* .tick:nth-child(2n-1) text {
  visibility: hidden; 
} */